body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    
}
h1{
    text-align: center;
    color: wheat;
}
button{
    background-color: whitesmoke;
    color: black;
    margin: 5px;
    border: 2px solid rgb(125, 255, 4);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    

}

.li{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 5px;
    border: 1px solid rgb(125, 255, 4);
    border-radius: 5%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    

}
.links{
    color:white;
    list-style-type: none;
    
    
}
.footer{
    margin-bottom: 20px;
}